<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Look for a movie
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <ion-searchbar (ionInput)="getItems($event)" placeholder="Search for a movie"></ion-searchbar>
  <ion-list *ngIf="!errorMessage">
    <ion-card ion-item (click)="openItem(movie)" *ngFor="let movie of movieListFiltered">
      <img [src]="movie.coverPic"/>
      <div class="card-title" class="list-items">{{movie.title}}</div>
    </ion-card>
  </ion-list>
  <p *ngIf='errorMessage' class='error'>{{errorMessage}}</p>
</ion-content>
