<ion-header>
  <ion-toolbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      Select an actor
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-searchbar (ionInput)="getActors($event)" placeholder="Search for an actor"></ion-searchbar>
  <ion-list *ngIf='!errorMessage'>
    <button ion-item (click)="openItem(actor)" *ngFor="let actor of actorsListFiltered">
      <ion-avatar item-start>
        <img [src]="actor.profilePic" />
      </ion-avatar>
      <h2>{{actor.name}}</h2>
    </button>
  </ion-list>
  <p *ngIf='errorMessage' class='error'>{{errorMessage}}</p>
</ion-content>
